<h4>Static arrays</h4>
<pre class="card card-block card-header">Model: {{selected | json}}</pre>
<input [(ngModel)]="selected" [typeahead]="states" (typeaheadOnSelect)="typeaheadOnSelect($event)" class="form-control">

<!-- Custom item template -->
<template #customItemTemplate let-model="item" let-index="index">
  <h5>{{model.name}}</h5>
</template>
<h4>Custom item template</h4>
<pre class="card card-block card-header">Model: {{customSelected | json}}</pre>
<input [(ngModel)]="customSelected" [typeahead]="statesComplex" [typeaheadItemTemplate]="customItemTemplate" [typeaheadOptionField]="'name'" (typeaheadOnSelect)="typeaheadOnSelect($event)" class="form-control">
<h4>Alpaca Form</h4>
<div id="alpacaform"></div>