
    <div class="col-md-12">
        <div class="process">
            <div class="process-row">


                <div class="process-step process-step-first">
                    <button type="button" class="btn btn-default btn-circle " disabled="disabled"><i class="fa fa-search fa-2x" aria-hidden="true"></i>
                    </button>
                    <p>SEARCH TEST</p>
                </div>




                <div class=" process-step process-step-second">
                    <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-check fa-2x" aria-hidden="true"></i>
                    </button>
                    <p>ELIGIBALITY CHECK</p>
                </div>




                <div class=" process-step process-step-third">
                    <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-calendar fa-2x " aria-hidden="true"></i>
                    </button>
                    <p>SCHEDULED TEST</p>
                </div>





                <div class=" process-step process-step-fourth">
                    <button type="button" class="btn btn-success btn-circle" disabled="disabled"><i class="fa fa-credit-card fa-2x" aria-hidden="true"></i>
                    </button>
                    <p>PAYMENT</p>
                </div>


            </div>
        </div>
    </div>

    <div class="row" style="padding-top:125px;">

        <div class="col-md-8 dotborder">


            <div class="graybackground">
                <div class="pdf">
                    <!--<div class="row">
    <div class="col-md-12">
        <p class="psi">The below mentioned program requires pre-approval from the PSI team before you appear for the exam. Please follow the instructions listed in your candidate information bulletin or application materials.</p>
    </div>
</div>-->
                    <div class="schedcertify">
                        <div class="row">
                            <div class="col-md-9 m-t-20">
                                <div class="heading">
                                    <p class="certifystyle">Certified Master Associate</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="portsched">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="portation width70sched">
                                <p class="colhead">Portion</p>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fee width70">
                                <p class="colhead">Fee</p>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="retake width70">
                                <p class="colhead">Retake Fee</p>

                            </div>
                        </div>

                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="portation width70sched">

                                <p class="texthead">
                                    <input class="inpstyle" type="checkbox" checked>
                                    <label>Part 1</label> (270 mins)</p>
                                <p class="texthead">
                                    <input type="checkbox">
                                    <label>Part 2</label> (270 mins)</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fee width70">

                                <p class="texthead">$75.00</p>
                                <p class="texthead">$75.00</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="retake width70">

                                <p class="texthead">$70.00</p>
                                <p class="texthead">$70.00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="eligible"> You are eligible to take "Certified Master Associate - Part 1" Test from 23 November, 2016 till 22 November, 2017 within Colorado region.</p>
                    </div>
                </div>
            </div>

            <div class="row disable">
                <div class="paddingsched">
                    <div class="col-md-1">

                        <p class="floatsched">
                            <input type="checkbox">

                        </p>
                    </div>
                    <div class="col-md-11">
                        <p>
                            <label>I have a disability. Under the Rehabilitation Act of 1973, I would like to request a Special accommodation for this assessment. Relevant documents will be shown at the test center.
                            </label>
                        </p>
                    </div>
                </div>
            </div>

            <div class="location m-t-80">
                <div class="row">
                    <div class="col-md-3 locleft">
                        <p class="">Your Location</p>
                        <p class="whiteback">
                            2497, Empire Avenue,
                            <br> North Hollywood blvd,
                            <br>Burbank 91505
                        </p>


                        <div class="select">
                            <p>Select Test Location</p>
                            <p>Country</p>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle buttonsched" type="button" data-toggle="dropdown">USA
                                    <span class="caret carstyle"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                            <br>
                            <p>Enter City/ Zip Code</p>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle buttonsched p0" type="text" data-toggle="dropdown">

                                    <span class="searchfont"><i class="fa fa-search isearch" aria-hidden="true"></i></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-9 p0">
                        <img class="map" src="assets/images/tartu.png">

                    </div>
                </div>

            </div>




            <div class="tablecenter m-t-80">

                <div class="row">
                    <div class="col-md-6">
                        <div class="thead">
                            <label>Test Name & Address</label>
                            <div class="input-group spinner">

                                <div class="input-group-btn-vertical">
                                    <button class="btn spinstyle" type="button"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn spinstyle" type="button"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Distance</label>
                        <div class="input-group spinner">

                            <div class="input-group-btn-vertical">
                                <button class="btn spinstyle" type="button"><i class="fa fa-caret-up"></i></button>
                                <button class="btn spinstyle" type="button"><i class="fa fa-caret-down"></i></button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <label>First Available Date</label>
                        <div class="input-group spinner">

                            <div class="input-group-btn-vertical">
                                <button class="btn spinstyle" type="button"><i class="fa fa-caret-up"></i></button>
                                <button class="btn spinstyle" type="button"><i class="fa fa-caret-down"></i></button>
                            </div>
                        </div>







                    </div>

                </div>
                <div class="row m-t-20">
                    <div class="col-md-6">
                        <div class="thead">


                            <p class="place">1. Durango</p>
                            <p class="desc"> 799 East 3rd Street, Suite 3, Durango Colarado 81301</p>

                        </div>
                    </div>
                    <div class="col-md-3 textvert">

                        <p class="miles">4.67 miles</p>
                    </div>
                    <div class="col-md-3 textvert">


                        <p class="date"> 25 November 2016 <span><i class="fa fa-chevron-down chevronblue" data-toggle="collapse" data-target="#demo" aria-hidden="true"></i></span></p>


                    </div>

                </div>
                <hr class="hstyle">
                <div id="demo" class="collapse">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="thead">


                            <p class="place">2. Durango</p>
                            <p class="desc"> 799 East 3rd Street, Suite 3, Durango Colarado 81301</p>

                        </div>
                    </div>
                    <div class="col-md-3">

                        <p class="miles">4.67 miles</p>
                    </div>
                    <div class="col-md-3">


                        <p class="date"> 25 November 2016 <span><i class="fa fa-chevron-down chevronblue" data-toggle="collapse" data-target="#demo1" aria-hidden="true"></i></span></p>


                    </div>

                </div>
                <hr class="hstyle">
                <div id="demo1" class="collapse">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="thead">


                            <p class="place">3. Durango</p>
                            <p class="desc"> 799 East 3rd Street, Suite 3, Durango Colarado 81301</p>

                        </div>
                    </div>
                    <div class="col-md-3">

                        <p class="miles">4.67 miles</p>
                    </div>
                    <div class="col-md-3">


                        <p class="date"> 25 November 2016 <span><i class="fa fa-chevron-down chevronblue" data-toggle="collapse" data-target="#demo2" aria-hidden="true"></i></span></p>


                    </div>

                </div>
                <hr class="hstyle">
                <div id="demo2" class="collapse">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="thead">


                            <p class="place">4. Durango</p>
                            <p class="desc"> 799 East 3rd Street, Suite 3, Durango Colarado 81301</p>

                        </div>
                    </div>
                    <div class="col-md-3">

                        <p class="miles">4.67 miles</p>
                    </div>
                    <div class="col-md-3">


                        <p class="date"> 25 November 2016 <span><i class="fa fa-chevron-down chevronblue" data-toggle="collapse" data-target="#demo3" aria-hidden="true"></i></span></p>


                    </div>

                </div>
                <hr class="hstyle">
                <div id="demo3" class="collapse">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="thead">


                            <p class="place">5. Durango</p>
                            <p class="desc"> 799 East 3rd Street, Suite 3, Durango Colarado 81301</p>

                        </div>
                    </div>
                    <div class="col-md-3">

                        <p class="miles">4.67 miles</p>
                    </div>
                    <div class="col-md-3">


                        <p class="date"> 25 November 2016 <span><i class="fa fa-chevron-down chevronblue" data-toggle="collapse" data-target="#demo4" aria-hidden="true"></i></span></p>


                    </div>

                </div>
                <hr class="hstyle">
                <div id="demo4" class="collapse">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="thead">


                            <p class="place">6. Durango</p>
                            <p class="desc"> 799 East 3rd Street, Suite 3, Durango Colarado 81301</p>

                        </div>
                    </div>
                    <div class="col-md-3">

                        <p class="miles">4.67 miles</p>
                    </div>
                    <div class="col-md-3">


                        <p class="date"> 25 November 2016 <span><i class="fa fa-chevron-down chevronblue" data-toggle="collapse" data-target="#demo5" aria-hidden="true"></i></span></p>


                    </div>

                </div>
                <hr class="hstyle">
                <div id="demo5" class="collapse">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>




                <div class="schedcancelfooter">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="schedcancel">
                                <i class="fa fa-chevron-left fa-2x" aria-hidden="true">Back</i>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="login">

                                <button class="schedcancelstyle">Cancel</button>
                                <button class="schedloginstyle">Confrim and Pay</button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>







        </div>

        <div class="col-md-4">


            <div class="row">
                <div class="col-md-12 testdetail">

                    <p class="borderBottom blackfonts"> Test Details</p>
                    <p>
                        <label>Exam</label> <span>CO Broker</span></p>
                    <p>
                        <label>Sponsor</label> <span>Colorado Real Estate</span></p>
                    <p>
                        <label>SSN</label> <span>XXXXXXXXXXXXXXX</span></p>
                    <p>
                        <label>Candidate </label> <span>John Doe</span></p>
                </div>

            </div>
            <div class="row ">
                <div class="col-md-12 ">

                    <p class="borderBottom blackfonts"> Notes</p><span class="aditi">- NO PERSONAL ITEMS</span>
                    <p class="font16">No item are to be enter the testing center .PSI will not be responsible for any personal items and suggestion that you leave them locked in the trunk of your car</p>
                    <span class="aditi">- NO MOBILE PHONES</span>
                    <p class="font16"> NO mobile phones will be allowed insidethe test area.</p>
                    <p class="font16">- Candidate need to be reach test center 15 mins prior to test scheduled </p>
                </div>

            </div>
            <div class="col-md-12">

                <p class="borderBottom blackfonts"> Test Information </p>
                <p class="harman bluefonts">Test Centers </p>
                <p class="bluefonts">FAQ</p>
            </div>

            <div class="col-md-12">

                <p class="borderBottom blackfonts"> Relevant Links</p>
                <p class="bluefonts">By Online Books</p>
                <p class="bluefonts">Online Practice Test </p>
                <p class="bluefonts">Testing With PSI</p>
                <p class="bluefonts">PSI Education Services</p>
                <p class="bluefonts">PSI Learning Academy</p>
            </div>
        </div>
    </div>