<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="navbar-brand" src="assets/images/psi-small-logo.png">
      <a class="navbar-brand" href="#">{{ 'HOME.TITLE' | translate}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <!-- Start Navigation List -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <language-list></language-list>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/list-center">{{ 'HOME.HOME' | translate }}</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/psi-news">{{ 'HOME.NEWS' | translate }}</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/psi-bookstore">{{ 'HOME.BOOKSTORE' | translate }}</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/about-psi">{{ 'HOME.ABOUT' | translate }}</a> 
        </li>
        <li routerLinkActive="active">
          <a routerLink="/contact-us">{{ 'HOME.CONTACT_US' | translate }}</a>
        </li>
         <li routerLinkActive="active">
          <a routerLink="/register">{{ 'HOME.REGISTER' | translate }}</a>
        </li>
        <li>
         <template ngbModalContainer></template>
         <app-login-component></app-login-component>
        </li> 
      </ul>
      <!-- Stat Search -->
      <!-- <li>
         <span class="search-side" style="margin-top: 0px;">
             <a class="show-search"><i class="glyphicon glyphicon-search"></i></a>
           </span>
           </li>
         </ul> -->
      <!-- End Search -->

      <!-- End Navigation List -->    

    </div><!--/.navbar-collapse -->
  </div>
</nav>

<!-- Landing page with login screen partial-->


<!-- Home page after login partial-->
<!--landing partial -->
<div class="container">
  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav" style="margin-top:2rem">
        <li class="sidebar-brand" style="height: 30px;">
          <h4>{{ 'CENTER_LIST.LEFT_MENU.TITLE' | translate }}</h4>
        </li>
        <form class="col-*-3">
          <li class="form-group">
            <input type="text" placeholder="AWS Cerificaion" class="form-control">
          </li>
          <li class="form-group">
            <input type="text" placeholder="24,West Street, LA" class="form-control">
          </li>
          <li class="form-group">
            <select class="form-control">
              <option value="5">Within 5 miles</option>
              <option value="10">Within 10 miles</option>
              <option value="15">Within 15 miles</option>
              <option value="20">Within 20 miles</option>
            </select>
          </li>
          <li>
            <button type="submit" class="btn btn-primary btn-block"> {{ 'CENTER_LIST.LEFT_MENU.SEARCH' | translate }} </button>
          </li>
        </form> 
        <hr>

        <li>
          <h4>{{ 'CENTER_LIST.LEFT_MENU.EXAM_OVERVIEW' | translate }}</h4>
          <ul style="list-style:none;padding-left:0">
            <li> 
              <h6>Exam</h6>
              <h6>AWS Certification</h6>    
            </li>
            <!--date and currency filter display according to locale-->
            <li> 
              <span>Date : </span>
              <span>{{currentDate | date:'longDate'}}</span>    
            </li>

            <li> 
              <span>Fees : </span>
              <span>{{money | currency}}</span>   
            </li>              
          </ul>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <router-outlet></router-outlet>

  </div>  